[class^="button"],
.button {
  display: inline-block;
  font-size: .875rem;
  padding: 10px 8px;
  transition: all .1s ease-out;
  background: none;
  cursor: pointer;
}

[class*="--ghost"] {
  border-radius: 3px;
  border: 2px solid var(--first-color);
}

[class*="--ghost"]:hover {
  background-color: var(--first-color);
  color: var(--clean-color);
}