.card-container {
  margin-bottom: 25px;
}

.card-container:hover img {
  transform: scale(1.1) rotate(2.5deg);
}

.card-container.no-margin {
  margin: 0;
}

.card__img {
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 400px;
  transition: all .4s ease;
  display: block;
  object-fit: cover;
}

.card__img.alter img {
  height: 650px;
}

.card__data h3 {
  font-weight: 600;
  text-transform: uppercase;
}

.card__data .row-one {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.card__data.alter .row-one {
  display: block;
}

.card__data.alter .price {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card__data.alter {
  text-align: center;
}