.main-header {
  background-color: var(--first-color);
  color: var(--clean-color);
}

.main-header nav li {
  display: inline-block;
}

.main-header ul {
  padding-top: 15px;
}

// FIRST ROW ---------------
.main-header .row-one {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.main-header .row-one ul li:last-child {
  padding-right: 0;
}

.main-header .row-one li {
  padding-right: 15px;
  color: var(--border-color);
  font-size: .875rem;
}

.main-header .row-one a {
  color: var(--border-color);
}

// SECOND ROW --------------
.main-header .header__img {
  padding-top: 25px;
  padding-bottom: 75px;
  text-align: center;
}

.main-header .row-two img {
  height: 50px;
}

// THIRD ROW ---------------
.main-header .row-three ul {
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  justify-content: space-around;
}

.main-header .row-three {
  background-color: var(--second-color);
}

.main-header .row-three ul {
  text-align: center;
}

.main-header .row-three a:hover {
  border-bottom: 5px solid var(--first-color);
}