block config
  include ../config/config

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie-edge")
    meta(name="description" content=description)
    title #{pageTitle} | #{siteTitle}
    script(src="js/font-awesome.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700")
    link(rel="stylesheet" href="css/main.css")

  body

    if header === true
      header.main-header
        block header
          include ../blocks/header

    if banner === true
      div.main-banner
        block banner
          include ../blocks/banner

    main(class='nd-container' + postClass)
      block main

    if aside === true
      aside.nd-container
        block aside

    if footer === true
      footer.main-footer
        block footer
          include ../blocks/footer

    block repairs
      include ../blocks/repairs