-fileSuffix = '.html'
-pages = {}
-pageTitle = 'Inicio'
-currentPage = 'inicio'
-siteTitle = 'Bridehouse'
-description = 'Bienvenidos a Bridehouse'
-header = true
-banner = false
-aside = false
-footer = true