-fileSuffix = '.php'
-fileName = {0:'index', 1:'account', 2:'checkout', 3:'login', 4:'product', 5:'shop', 6:'signup'}
-pageTitle = 'Inicio'
-currentPage = 'inicio'
-siteTitle = 'Bridehouse'
-description = 'Bienvenidos a Bridehouse'
-header = true
-banner = false
-aside = false
-footer = true