extends templates/template
append config
  -banner = true
  -aside = true

block main
  .main-container.col-100
    section
      h2 Productos más recientes
      .products.d-grid
        block card
          include blocks/card
          -var card = 324
          while card < 330
            +card(card, 500, 500, true, 'Product model', 321, 'Product brand')
            -card++

block aside
  .aside-container
    section
      h2 Productos destacados
      .products.d-grid
        block card
          include blocks/card
          -var card = 215
          while card < 218
            +card(card, 500, 650, true, 'Product model', 512)
            -card++