extends templates/template
append config
  -banner = true
  -aside = true

block main
  .main-container.col-100
    section
      h2 Productos más recientes
      .products.d-grid
        block card
          include blocks/card
          -var card = 324
          while card < 330
            +card(card, 500, 500, true, 'Product model', 321, 'Product brand')
            -card++

block aside
  .aside-container
    section
      h2 Productos destacados
      .products.d-grid
        block card
          include blocks/card
          -var card = 215
          while card < 218
            +card(card, 500, 650, true, 'Product model', 512)
            -card++

append repairs
  script(src="js/owl.carousel.min.js")
  script(type="text/javascript").
      $(document).ready(function () {
          $('.owl-one').owlCarousel({
              loop: true,
              nav: false,
              dots: true,
              autoplay: true,
              autoplayTimeout: 3500,
              smartSpeed: 600,
              autoplayHoverPause: true,
              // animateIn: 'slideInDown',
              // animateOut: 'slideOutDown',
              responsive: {
                  0: {
                      items: 1
                  },
                  600: {
                      items: 1
                  },
                  1000: {
                      items: 1
                  }
              }
          });

          $('.owl-products').owlCarousel({
              loop: true,
              nav: true,
              dots: false,
              autoplay: true,
              autoplayTimeout: 3500,
              autoplayHoverPause: true,
              responsive: {
                  0: {
                      items: 1
                  },
                  600: {
                      items: 3
                  },
                  1000: {
                      items: 6
                  }
              }
          });
      });