extends templates/template
append config
  -pageTitle = 'Nosotros'
  -description = 'This is a webpage for us'
  -currentPage = 'nosotros'

block main
  h1 Bienvenidos
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae laboriosam magnam molestias nulla perferendis, placeat rerum suscipit velit? Aspernatur, debitis deserunt? Aperiam iure nemo nostrum, quia quis soluta veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ipsa iusto reiciendis. Alias amet delectus eius eos labore neque nesciunt recusandae reiciendis suscipit. Aliquid, eius laborum nam nihil recusandae ullam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolorum enim impedit voluptates voluptatibus. Ab commodi cumque, delectus dicta dignissimos dolor ea eaque est eum maiores nemo, quaerat temporibus, voluptate?

block footer
  p &copy; Bridehouse all rights reserved.