extends templates/template
append config
  -aside = true
  -postClass = ''

block main
  .main-container
    section.d-flex
      .self.col-one
        .self__img
          img#img_01(src="//picsum.photos/600/800/?image=74" data-zoom-image="//picsum.photos/2000/2000/?image=74")
        #self-gallery
          -var selfie = 74
          while selfie < 79
            a(href="#" data-image="//picsum.photos/600/800/?image=" + selfie data-zoom-image="//picsum.photos/2000/2000/?image=" + selfie)
              img.thumb-gallery(src="//picsum.photos/250/170/?image=" + selfie)
            -selfie++
      .self.col-two.col-100
        h1 Product name
        p.price S/399
        form(action=fileName[2] + fileSuffix method="get")
          input(type="hidden" name="price" value="399")
          //label: select(name="size")
          //  option(selected) Talla
          //  option(value="xl") XL
          //  option(value="large") LARGE
          //  option(value="xxl") XXL
          //  option(value="small") SMALL
          label.quantity Cantidad
            input(type="number" min="1" name="quantity" value="1")
          //label Color
          //  input(type="radio" name="color")
          //  input(type="radio" name="color")
          //  input(type="radio" name="color")
          button.button--ghost(type="submit") Agregar al carrito
        .details
          p Detalles del producto
          p A little description of this product.

block aside
  .aside-container
    section
      h2 Productos recomendados
      .products.d-grid.gallery
        block card
          include blocks/card
          +card(234, 431, 888, false, 'Product model', 512)(class="no-margin")
          -var card = 322
          while card < 326
            +card(card, 500, 500, false, 'Product model', 512)(class="no-margin")
            -card++