.owl-one.owl-carousel.owl-theme
  -var number = 110
    while number < 114
      .item
        .banner-container
          img(src="//picsum.photos/1920/485/?image=" + number).banner__img
      -number++