.footer-container
  .row-one.nd-container
    .footer__data
      h4 Servicio al cliente
      ul
        li: a(href="#") Sobre nosotros y contacto
        li: a(href="#") Servicio al cliente
        li: a(href="#") Términos y condiciones
        li: a(href="#") Privacidad
    .footer__data
      h4 Suscríbete
      p Recibe ofertas especiales recientes y sé el primero en saber cuándo se lanzan nuevos productos.
      label: input(type="email" name="email")
    .footer__data
      h4 Nuestras redes
      .socials
        ul
          li: a(href="//www.facebook.com" target="_blank"): i.fab.fa-facebook-f
          li: a(href="//www.twitter.com" target="_blank"): i.fab.fa-twitter
          li: a(href="//www.instagram.com" target="_blank"): i.fab.fa-instagram
  .row-two
    .footer__data.nd-container
      p Bridehouse &copy; 2018 - Powered by ndevs studios